body {
  background-image: url("../../assets/backgroundgif2.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
  height: fit-content;
  max-height: fit-content;
}

.page {
  display: flex;
  margin: 5px;
  height: fit-content;
  max-height: fit-content;
}
.page-content {
  margin: 0 auto;
  max-width: 1440px;
  height: fit-content;
  max-height: fit-content;
}

.page__default-remove {
  margin: 0;
  padding: 0;
}

.section {
  border-radius: 20px;
  width: fit-content;
}

.arrow {
  width: 12px;
  height: 12px;
  size: contain;
}

.button__toggle-visibility-expand,
.button__toggle-visibility-collapse {
  z-index: 5;
  position: fixed;
  font-size: 16px;
  padding: 0 5px;
  top: 5px;
  left: 5px;
}

a,
button {
  transition: transform 0.3s ease;
}

a:hover,
button:hover {
  cursor: pointer;
  color: rgb(0, 195, 255);
  text-decoration: underline;
  transform: scale(1.1);
}

.hide {
  position: absolute;
  top: 0px;
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}

p:hover,
h1:hover {
  cursor: default;
}
