.main {
  width: 100%;
  display: flex;
  gap: 5px;
  overflow: hidden;
  height: 70vh;
  box-sizing: border-box;
}

.sections-container {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 4px solid black;
  border-radius: 16px;
}

.sections-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.sections-container::-webkit-scrollbar-track {
  background: transparent;
}

.sections-container::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.7);
  border-radius: 10px;
}

.sections-container::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 115, 0);
  border: 2px black solid;
}

@media screen and (max-width: 667px) {
  .main {
    flex-direction: column;
  }
}
